FRONT=http://localhost:3000
PORT=5000
MONGO_URI=mongodb+srv://secondUser:secondUser@shut.fbd0i.mongodb.net/?retryWrites=true&w=majority&appName=Shut
SECRET_KEY=shutterStock
NODE_ENV=development
UPLOAD_DIRECTORY=./uploads