FRONT=https://mern-frontend-a0bd6d776217.herokuapp.com/
PORT=5000
MONGO_URI=mongodb+srv://secondUser:secondUser@shut.fbd0i.mongodb.net/?retryWrites=true&w=majority&appName=Shut
SECRET_KEY=shutterStock
UPLOAD_DIRECTORY=./uploads
