:root {
  --green-light: #80F2B5;
  --green-medium: #73D6BA;
  --green-dark: #49A993;
  /* --green-light: #A1E6D1;
  --green-dark: #4CA798; */
  --red-dark: #E57376;
  --red-medium: #FF686D;
  --red-light: #FF7075;
  --link: #AEB4B7;
  --active-link: #73D6BA;
  --hover-link: #BFC2C4;
  --light: #000000;
  --dark: #ffffff;
}

[data-theme='dark'] {
  --green-light: #00DF82;
  --green-medium: #2CC295;
  --green-dark: #03624C;
  --red-dark: #B81D23;
  --red-medium: #CF131B;
  --red-light: #E50913;
  --link: #6c757d;
  --active-link: #2CC295;
  --hover-link: #979899;
  --light: #ffffff;
  --dark: #000000;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('../fonts/MonumentExtended-Regular.woff2') format('opentype');
}

@font-face {
  font-family: 'Monument Extended Ultrabold';
  src: url('../fonts/MonumentExtended-Ultrabold.woff2') format('opentype');
}

body,
h3,
h4,
h5,
a {
  font-family: 'Monument Extended', sans-serif;
}

h6,
p {
  font-family: 'Monument Extended Regular', sans-serif;
}

h1,
h2 {
  font-family: 'Monument Extended Ultrabold', sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: .5rem;
}

[data-theme='dark'] .h1,
[data-theme='dark'] .h2,
[data-theme='dark'] .h3,
[data-theme='dark'] .h4,
[data-theme='dark'] .h5,
[data-theme='dark'] .h6,
[data-theme='dark'] h1,
[data-theme='dark'] h2,
[data-theme='dark'] h3,
[data-theme='dark'] h4,
[data-theme='dark'] h5,
[data-theme='dark'] h6,
[data-theme='dark'] p {
  color: white;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: .5rem;
}

html {
  height: auto;
  margin: 0;
  padding: 0;
}

[data-theme='light'] body {
  background: white;
  color: black;
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100%;
  height: auto;
  padding: 1rem, 0;
}

[data-theme='dark'] body  {
  background: linear-gradient(to bottom, black 0%, var(--green-dark) 100%, var(--green-dark) 90%, var(--green-medium) 80%, var(--green-medium) 70%, var(--green-medium) 60%, var(--green-light) 50%, var(--green-light) 40%, var(--green-light) 30%);
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100%;
  height: auto;
  padding: 1rem, 0;
}

a {
  color: var(--green-light);
  text-decoration: none;
}

a:hover {
  color: var(--green-dark);
}


.logo {
  height: 6rem;
  width: auto;
}

.row {
  display: flex;
}

.col-md-3 {
  background-color: var(--green-dark);
  padding: 1rem;
  border-right: 1px solid var(--green-dark);
}

.col-md-9 {
  padding: 1rem;
}

.not-found-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10.3rem;
  color: var(--red-medium);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}


body {
  position: relative;  /* Make sure the body can be used as a reference for the pseudo-element */
  background-image: url('back.jpeg'); /* Background image */
  background-repeat: repeat;  /* Ensure the background image repeats */
  background-size: 100% auto; /* Stretch the image to fill the width */
  background-position: top left; /* Position the image at the top-left */
  height: 100vh; /* Ensure the background takes up the full height of the viewport */
  margin: 0;  /* Remove default margin */
}
